{{ define "admin/nav/css.html" }}
<link rel="shortcut icon" href="/static/images/favicon.ico">
<link rel="stylesheet" href="/static/css/layui.css">

<style>
    html,
    body.layui-layout-body {
        height: 100%;
    }

    body.layui-layout-body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .layui-layout.layui-layout-admin {
        min-height: 100%;
    }

    .sif-title {
        font-size: 1.3em;
        color: aliceblue;
    }

    .layui-layout-admin .layui-body {
        position: static;
        margin-top: 60px;
        margin-left: 200px;
        padding: 30px 15px 20px;
        box-sizing: border-box;
        min-height: calc(100vh - 60px);
    }

    .layui-header {
        background-color: #e4007f !important;
    }

    .layui-side {
        background-color: #e4007f;
    }

    .layui-nav {
        background-color: #e4007f;
    }

    .layui-nav-tree .layui-nav-child dd.layui-this,
    .layui-nav-tree .layui-nav-child dd.layui-this a,
    .layui-nav-tree .layui-this,
    .layui-nav-tree .layui-this>a,
    .layui-nav-tree .layui-this>a:hover {
        background-color: #ff6699 !important;
    }
</style>
{{ end }}
